footer
	background: #2a2a2a
	height: auto
	color: $white
	padding: 30px 100px

	@media (max-width: $ipad)
		padding: 30px 25px

	.footer_logo
		width: 75%

	.footer_block
		display: inline-block
		padding: 10px
		box-sizing: border-box
		width: 33%
		@media (max-width: $ipad)
			display: block
			width: 100%

		h1
			font:
				size: 1.2em
				weight: 500
			@media (max-width: $ipad)
				font:
					size: 2em

		p
			font:
				size: 0.9em
			line-height: $line-height
			@media (max-width: $ipad)
				font:
					size: 1em

	.colophon
		padding-top: 100px
		font-size: 0.8em
		@media (max-width: $ipad)
			font-size: 0.8em