footer
	background: #2a2a2a
	height: auto
	color: $white
	padding: 30px 100px

	.footer_logo
		width: 75%

	.footer_block
		display: inline-block
		box-sizing: border-box
		width: 33%

		h1
			font:
				size: 1.2em
				weight: 500

	.colophon
		padding-top: 100px
		font-size: 0.8em